#container{
    /* Discriminando que trabalharei com Flexbox */
    display: flex;
    flex-direction: row;
    /* Evita o overflow. evitar que o conteúdo ultrapasse a largura da tela */
    flex-wrap: wrap;
    /* Alinhar elementos no eixo horizontal */
    justify-content: space-evenly;
    border: 2px solid blueviolet;
    height: 1000px;
    /* Alinhar elementos no eixo vertical */
    align-items: center;
    
    
}

.itens{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 5px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1:hover{
    
    flex-grow:0.35;
    transition: 2s;

}
/* #xdd{
    border: 2px solid black;
    width: 1900px;
    height: 200px;
    display: flex;
    justify-content: center;
} */
