h1{
    color: blueviolet;
}

#P1{
    /* Largura da borda */
    border-width: 2px;

    /* Cor da borda */
    border-color: aqua;
    /* Estilo da borda(como a borda irá se comportar, e aparecer ao usuário. */
    border-style: solid;
    padding: 4px;
    
}

img{
    /* Largura */
    width: 600px;
    /* Altura  */
    height: 600px;
    background-position: center;
    position: relative;
    
       
}

body{
     background-image: url("./pet.jpg");
     background-size: cover;
     /* fixed(fixo) / Scroll(Irá duplicar) */
     background-attachment: fixed;
     position: relative;
}
figcaption, p{
    color:aliceblue;
}

